@model IEnumerable<CapitalEuropeiaGuarda.Models.Hoteis>
@*@model HotelListViewModel*@


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar novo Hotel</a>
</p>

@* Adicionei o search box *@
@*<div class="card mt-3 bg-info">
    <div class="card-header">
        <div class="card-title font-weight-bold">Search</div>
    </div>
    <div class="card-body">
        <form asp-action="Index" method="get">
            <label for="name">Name</label>
            <input name="name" type="search" class="form-control" value="@Model.SearchName" />
            <input name="page" type="hidden" value="1" />
            <div class="mt-3">
                <input type="submit" value="Search" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Clear</a>
            </div>
        </form>
    </div>
</div>*@
@* Fim do search box *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoCurta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HoteisId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.HoteisId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.HoteisId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@* Adicionei paginação *@
@*<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1">First</a></li>

        @{
            int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (initalPage < 1) initalPage = 1;

            int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages;
        }

        @for (int p = initalPage; p <= finalPage; p++)
        {
            if (p == Model.Pagination.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages">Last</a></li>
    </ul>
</nav>*@
@* Fim da paginação *@
