@model IEnumerable<CapitalEuropeiaGuarda.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max_lugares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_lugares)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_lugares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Min_lugares)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VeiculoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VeiculoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.VeiculoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
