@{
    ViewData["Title"] = "Pontos de Interesse";
    string[] TableHeaders = new string[] {"Id"
          ,"Nome"
          ,"Local"
          ,"Descricao Curta"};
}
<br />
<br />

<h1>@ViewData["Title"]</h1>

<div class="table">
    <table>
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
       
        <tbody>
            @{
                if (Model != null)
                {

                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.PontoInteresseId </td>
                            <td>@Data.Nome </td>
                            <td>@Data.Local </td>
                            <td>@Data.DescricaoCurta </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
