@model IEnumerable<CapitalEuropeiaGuarda.Models.PontoInteresse>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

<h1>Index</h1>



<p>
    <a asp-action="Create">Novo Ponto de Interesse</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoCurta)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PontoInteresseId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.PontoInteresseId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.PontoInteresseId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
