@model CapitalEuropeiaGuarda.Models.ReservaExcursao

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que pertende eliminar?</h3>
<div>
    <h4>Reservar excursão</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPessoas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cancelado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cancelado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCancelar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCancelar)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservaExcursaoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a lista</a>
    </form>
</div>
