@model CapitalEuropeiaGuarda.Models.ReservaExcursao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReservaExcursao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPessoas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cancelado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cancelado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCancelar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCancelar)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservaExcursaoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
