@*@model IEnumerable<CapitalEuropeiaGuarda.Models.ReservaExcursao>*@
@model PaginatedList<CapitalEuropeiaGuarda.Models.ReservaExcursao>
<!-- Page Content -->
<!--<div class="container">

    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/exc1.jpg" alt="">
        </div>-->
<!-- /.col-lg-8 -->
<!--<div class="col-lg-5">
        <h1 class="font-weight-light">Veja aqui as suas excursões</h1>

        <p>
            <a asp-action="Create" class="btn btn-success btn-sm">Criar novo</a>
        </p>
    </div>


</div>-->
<!-- Heading Row -->
<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/exc1.jpg" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
        <h1 class="font-weight-light">Excursões</h1>
        <p>Aqui pode consultar as excursoes que reservou!</p>
        
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Procurar: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Pesquisar" class="btn btn-success btn-sm" />
                    
                    <a asp-action="Create" class="btn btn-success btn-sm">Criar novo</a>
                </p>
            </div>
        </form>
    </div>
    <!-- /.col-md-4 -->
</div>



@foreach (var item in Model)
{

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title"><a asp-action="Index" asp-route-sortOrder="@ViewData["NomeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nome</a></h3>
                    <h4> <p class="card-text"> @Html.DisplayFor(modelItem => item.Nome)</p></h4>

                    <h3 class="card-title"><a asp-action="Index" asp-route-sortOrder="@ViewData["DataSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data da excursão</a></h3>
                    <h4> <p class="card-text">@Html.DisplayFor(modelItem => item.DataReserva)</p></h4>

                    <h3 class="card-title"><a asp-action="Index" asp-route-sortOrder="@ViewData["NumPessoasSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Numero de pessoas</a></h3>
                    <h4> <p class="card-text">@Html.DisplayFor(modelItem => item.NumPessoas)</p></h4>

                    <h3 class="card-title"><a asp-action="Index" asp-route-sortOrder="@ViewData["DataCSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data do cancelamento</a></h3>
                    <h3><p class="card-text">@Html.DisplayFor(modelItem => item.DataCancelar)</p></h3>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ReservaExcursaoId" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.ReservaExcursaoId" class="btn btn-info btn-sm">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.ReservaExcursaoId" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    }
                    else if (User.IsInRole("User"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ReservaExcursaoId" class="btn btn-primary btn-sm">Editar</a>
                        </td>
                    }
                </div>
            </div>
        </div>
    </div>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Seguinte
</a>




@*@{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="btn btn-success btn-sm">Criar novo</a>
    </p>
    <table class="table">
        <thead>
            <tr style="background-color:#CADAFF">
                <th>
                    @Html.DisplayNameFor(model => model.DataReserva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumPessoas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cancelado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCancelar)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr style="background-color:#DFE9FF">
                <td>
                    @Html.DisplayFor(modelItem => item.DataReserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumPessoas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cancelado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCancelar)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservaExcursaoId" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ReservaExcursaoId" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.ReservaExcursaoId" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@


